
*.lock
*.ide
*.suo
*.ide-shm
*.ide-wal
*.config
*.dll
*.csproj
Avaliadores_Empresas/.vs/Avaliadores_Empresas/v15/.suo
Avaliadores_Empresas/.vs/Avaliadores_Empresas/v15/.suo
Avaliadores_Empresas/Avaliadores_Empresas/ASPX/Admin.aspx.designer.cs
Avaliadores_Empresas/Avaliadores_Empresas/ASPX/Avaliador.aspx.designer.cs
Avaliadores_Empresas/Avaliadores_Empresas/ASPX/Contactos.aspx.designer.cs
Avaliadores_Empresas/Avaliadores_Empresas/ASPX/Empresa.aspx.designer.cs
Avaliadores_Empresas/Avaliadores_Empresas/ASPX/Login.aspx.designer.cs
Avaliadores_Empresas/Avaliadores_Empresas/ASPX/Registar_Avaliadores.aspx.designer.cs
Avaliadores_Empresas/Avaliadores_Empresas/ASPX/Registar_Empresas.aspx.designer.cs
Avaliadores_Empresas/Avaliadores_Empresas/ASPX/SobreNos.aspx.designer.cs
Avaliadores_Empresas/Avaliadores_Empresas/ASPX/testegridview.aspx.designer.cs
*.dll
*.pdb
*.dll
Avaliadores_Empresas/Avaliadores_Empresas/Homepagebottstrap.aspx.designer.cs
*.cache
