body {
    /* Margin bottom by footer height */

    overflow-y: hidden;
  }

.navbar{
    background-color: #222022 !important;

}

nav ul {
    margin: 0;
}

nav li a {
    padding: 10px 10px;
    display: inline-block;
    font-weight: 100;
    color: white !important;
    font-family: 'Montserrat';
    font-size: 12pt;
    max-height:64px;
    margin: 0px 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 38px;
    line-height: 38px; /* Vertically center the text there */
    background-color: rgb(34,34,34);
    font-weight: 100;
    color: white !important;
    font-family: 'Montserrat';
    font-size: 9pt;
  }
  

.carousel-item{
    height:100vh;
    background-position: center;
}

.slider{
    margin-left: unset !important; 
    margin-right: unset !important;
}
.slider div{
    padding-right: unset !important; 
    padding-left: unset !important;
}

.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

.contactos_div{
    position: absolute; 
    text-align: center; 
    margin-top: 128px;
    width: 100%;
    top: 0;
    background-color: transparent;
}

.contactos_innerDiv{
    width: 500px;
    min-height: 290px;
    background-color: rgba(161, 206, 221, 0.88);
    display: table;
    margin: 0 auto;
    text-align: right;
    padding: 15px 40px 18px 10px;   
 
}

input[type]:not([type=number]):not([type=button]):not([type=search]) {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 1.5px;
    margin-bottom: 4px;
    font-family: 'Montserrat';
    font-size: 12pt;
    border: none;
}

textarea{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 1.5px;
    font-family: 'Montserrat';
    font-size: 12pt;
    border: none;
}

.ativo{
    border: 1px solid white ;
}