

#DivPerfil {
    width: 100%;
}

.DivBtn {
    background-color: rgba(161, 206, 221, 0.88);
    padding: 20px;
}

.divPerfil_inner {
    background-color: rgba(161, 206, 221, 0.88);
    display: block;
    margin: 0 auto;
    padding:10px;
}

#DivTrabalhosRealizados {
    background-color: rgba(161, 206, 221, 0.88);
    padding: 20px;
}

#DivLicenca {
    background-color: rgba(161, 206, 221, 0.88);
    padding: 20px;
}

#DivAvaliacoes {
    background-color: rgba(161, 206, 221, 0.88);
    padding: 20px;
}

#DivAvaliacoesDisponiveis {
    background-color: rgba(161, 206, 221, 0.88);
    padding:20px;
}

#DivRanking {
    background-color: rgba(161, 206, 221, 0.88);
    padding:20px;
}

#DivPerfil h1 {
    font-family: 'Montserrat';
    font-size: 29pt;
    font-weight: 100;
}

#DivPerfil p {
    font-family: 'Montserrat';
    font-size: 12pt;
    font-weight: 200;
    text-align: right;
}

#divNovaPass {
    background-color: rgba(34, 34, 34, 0.80);
    color: white;
}

#divThankYou {
    background-color: rgba(34, 34, 34, 0.80);
    color: white;
}


.btn {
    background-color: white;
    color: black;
}

.Aval_div {
    background-color: transparent;
    z-index: 1;
}

.Aval_innerDiv {
    background-color: transparent;
    display: -webkit-box;
    margin: 0 auto;
    text-align: left;
}

    .Aval_innerDiv li [type=submit] {
        background-color: white;
        color: black;
        border: none;
        margin-bottom: 1px;
        height: 36px;
        font-family: 'Montserrat';
        font-size: 12pt;
        font-weight: 500;
        text-align: left;
        width: 100%;
    }

        .Aval_innerDiv li [type=submit]:hover {
            background-color: rgb(23,82,102);
            color: white;
        }

.div_texto {
    font-family: 'Montserrat';
    font-size: 12pt;
    line-break: 14pt;
    border-radius: 1.5px;
    padding: 5px;
    margin-bottom: 13px;
}

.bg_escura {
    background-color: #222022;
}

.bg_clara {
    background-color: aliceblue;
}

.color_white {
    color: white;
}


input[type=text] {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 1.5px;
    margin-bottom: 4px;
    font-family: 'Montserrat';
    font-size: 12pt;
    border: none;
}

p {
    font-family: 'Montserrat';
    font-size: 12pt;
}

h1 {
    font-family: 'Montserrat' !important;
    font-size: 29pt !important;
    font-weight: 100 !important;
}

hr {
    height: 1pt;
}

.align-right {
    text-align: right;
}

.hiddencol {
    display: none;
}

.custompopup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
}

    .custompopup p, .custompopup div {
        margin-bottom: 10px;
    }

    .custompopup label {
        display: inline-block;
        text-align: left;
        width: 120px;
    }

    .custompopup input[type="text"], .custompopup input[type="password"] {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #999;
        border-bottom: 1px solid #ccc;
        padding: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        margin-left: 0;
        margin-right: 0;
    }

        .custompopup input[type="text"]:hover, .custompopup input[type="password"]:hover {
            border-color: #555 #888 #888;
        }

.starRating {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
}

.FilledStars {
    background-image: url(../Imagens/Estrelas/EstrelaAmarela.png)
}

.WatingStars {
    background-image: url(../Imagens/Estrelas/EstrelaCinzenta.png)
}

.EmptyStars {
    background-image: url(../Imagens/Estrelas/EstrelaCinzenta.png);
}

.btn-perfil:hover {
    background-color: rgb(23,82,102);
    color: white;
}


#GridView11 > tbody > tr:nth-child(2), #GridView11 > tbody > tr:nth-child(1), #GridView11 > tbody > tr:nth-child(3),
#GridView12 > tbody > tr:nth-child(2), #GridView12 > tbody > tr:nth-child(1), #GridView12 > tbody > tr:nth-child(3) {
    font-weight: bold;
}
@media (max-width:991px) {
    .main_div {
        top: unset;
        transform: unset;
        padding-top: 110px;
        padding-bottom: 50px;
    }
}
