.buttonSend {
    background-color: white;
    width: 25%;
    font-weight: 600;
    border:none;
}

.contactos_div{
    position: absolute; 
    text-align: center; 
    margin-top: 128px;
    width: 100%;
    top: 0;
    background-color: transparent;
}

.contactos_innerDiv {
    width: 500px;
    background-color: rgba(161, 206, 221, 0.88);
    display: inline-block;
    margin: 0 auto;
    text-align: right;
    padding: 20px;
}

textarea{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 1.5px;
    font-family: 'Montserrat';
    font-size: 12pt;
    border: none;
}



@media only screen and (max-width: 500px) {
    .contactos_innerDiv {
        width: 100%;
    }
}

@media only screen and (max-height: 662px) {
    .contactos_div {
        overflow: scroll;
        height: 100%;
        padding-bottom: 160px;
    }
}


@media (max-width:991px) {
    .main_div {
        top: unset;
        transform: unset;
        padding-top: 110px;
        padding-bottom: 50px;
    }
}
