

.hp_button {
    font-family: Montserrat;
    font-size: 12pt;
    border-radius: 1.5px;
    width: 105px;
    height: 35px;
    background: white;
    border: none;
}

.texto {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: rgba(34,34,34,0.69);
    padding-top:45px !important;
    padding: 45px;
    right: 0;
}

.sub_tit{
    font-size: 22pt;
    font-family: 'Montserrat';
    font-weight: 400;
    color: white
}

.titulo{
    font-size: 30pt; 
    font-family: 'Montserrat';
    font-weight: 900;
    color: white
}

.texto button{
    border-radius: 1.5px;
    font-size: 12pt; 
    font-family: 'Montserrat';
    font-weight: 300;
    background-color: white;
    width: 105px;
    height: 35px;
}

@media (max-width:991px) {
    .slider {
        height: 100vh;
    }
    body {
        overflow-y:hidden;
    }



}

@media (max-width:375px) {
    .sub_tit {
        font-size: 19pt;
    }
}